/* Reset default margins and padding */
* {
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

#governor-panel {
    display: flex;
    height: 33vh;
}

.governor-select {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 1rem;
    background-color: #f0f0f0;
}

.governorsColony-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1.75;
    padding: 1rem;
    background-color: #e0e0e0;
}

#facility-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #d0d0d0;
    height: 15vh;
}

#cart-panel {
    display: flex;
    height: 33vh;
}

#facility-minerals {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1.75;
    padding: 1rem;
    background-color: #c0c0c0;
}

.group-facility-min {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 1rem;
    background-color: #c0c0c0;
}

.group-facility-radio {
    display: flex;
    flex-direction: row;

    align-items: center;
    flex: 1;

    background-color: #c0c0c0;
}

#space-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 1rem;
    background-color: #b0b0b0;
}